<section class="d-flex justify-content-center my-4 container">
    <div id="sliderAgronext" class="carousel slide height-slider"  data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="../../../assets/pictures/slider1.jpg" alt="First slide" >
        </div>
        <div class="carousel-item" data-bs-interval="100">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="../../../assets/pictures/slider2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item" data-bs-interval="100">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="../../../assets/pictures/slider3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item" data-bs-interval="100">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="../../../assets/pictures/slider3.jpg" alt="Third slide">
            <div class="carousel-caption">
                
                <h1 class="green text-uppercase">Software</h1>
            </div>
        </div>
        </div>
    </div>
   
</section>

<div class="d-flex d-none d-md-block" >
    <a class="carousel-control-prev justify-content-end slide-control slide-controlRight " href="#sliderAgronext" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    
    </a>
    <a class="carousel-control-next justify-content-start slide-controlLeft" href="#sliderAgronext" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>