:host {
    display: flex;
    flex-direction: column;
    min-height: 10rem;  /* Asegura que el componente ocupe al menos toda la altura del viewport */
  }
  
  .footer {
    margin-top: auto;   /* Empuja el footer hacia abajo */
    background-color: #0B650C;
    color: white;
    text-align: center;
    padding: 10px;
  }